* {
    margin: 0;
}
img {
    width: 30%;
}
body {
    background-color: pink;
}
header, footer {
    background-color: aqua;
    height: 10vh;
    margin: 0 20px;
}
main {
    height: 70;
    margin: 0 20px;
    display: flex;
}
aside {
    background-color: aquamarine;
    flex: 1;
    margin-right: 20px;
}
article {
    background-attachment: ;
}